name: "Validate"

on: push

jobs:
  hassfest:
    name: "Hassfest Validation"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: home-assistant/actions/hassfest@55b4a5d23e09d627c2773c2ef82afa98904d65b4 # master

  hacs:
    name: "HACS Validation"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: hacs/action@dcb30e72781db3f207d5236b861172774ab0b485 # main
        with:
          category: "integration"
          ignore: "brands"
