name: "Validate"

on: push

jobs:
  hassfest:
    name: "Hassfest Validation"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: home-assistant/actions/hassfest@87c064c607f3c5cc673a24258d0c98d23033bfc3 # master

  hacs:
    name: "HACS Validation"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: hacs/action@dcb30e72781db3f207d5236b861172774ab0b485 # main
        with:
          category: "integration"
          ignore: "brands"
