name: "Validate"

on: push

jobs:
  hassfest:
    name: "Hassfest Validation"
    runs-on: ubuntu-slim
    steps:
      - uses: "actions/checkout@v5"
      - uses: "home-assistant/actions/hassfest@master"

  hacs:
    name: "HACS Validation"
    runs-on: ubuntu-slim
    steps:
      - uses: "actions/checkout@v5"

      - uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: "brands"
